{% include 'base.jinja2' %}

{% block content %}
  <div class="row-fluid">
    <div class="col-lg-12">
      <table id="dt_jobs" class="table table-condensed table-striped table-hover"
             cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Acknowledge Id</th>
            <th>Channel</th>
            <th>Scheduling start</th>
            <th>Priority</th>
            <th>Acknowledge interval (s)</th>
            <th>Transmitted (Bytes)</th>
            <th>Completion (%)</th>
            <th>Nr transmissions</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block extra_javascripts %}
 
  <script src="https://tdamsma.github.io/datatables-yadcf-bootstrap-webpack/bundle-yadcf.js"></script>

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      var table = $('#dt_jobs').DataTable({
        "processing": false,
        "serverSide": true,
        "lengthMenu": [ 10, 100, 1000, 5000],
        "columnDefs": [{
            targets: 0,
            render: function (data, type, row, meta) {
                if (type === 'display') {
                    data = '<a href="show_job/' + encodeURIComponent(data) + '">' + data + '</a>';
                }
                return data;
            }
        }],
        "ajax": "{{ request.route_path('jobs_data') }}"
      });

      yadcf.init(table, [{
        column_number: 0
      }, {
        column_number: 1,
        filter_type: "multi_select",
        select_type: "chosen"
      }, {
        column_number: 2,
        filter_type: "range_date",
        date_format: "yyyy-mm-dd hh:MM:ss",
        moment_date_format: "YYYY-MM-DD HH:mm:ss",
        datepicker_type: 'bootstrap-datetimepicker',
        filter_plugin_options: {
          showTodayButton: true,
          showClear: true,
          sideBySide: true,
          format: "YYYY-MM-DD HH:mm:ss"
        }
      }, {
        column_number: 3,
        filter_type: "range_number"
      }, {
        column_number: 4,
        filter_type: "range_number"
      }, {
        column_number: 5,
        filter_type: "range_number"
      }, {
        column_number: 6,
        filter_type: "range_number"
      }, {
        column_number: 7,
        filter_type: "range_number"
      }]);
    });
  </script>

{% endblock %}