{% include 'base.jinja2' %}

{% block extra_stylesheets %}
  <link href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.css" rel="stylesheet">
{% endblock %}

<style>
    td.complete {
        font-weight: bold;
        color: white;
        background-color: green;
    }
    td.complete > a {
        color: white;
    }

    td.missing {
        font-weight: bold;
        color: white;
        background-color: orange;
    }
    td.missing > a {
        color: white;
    }

    td.all-lost {
        font-weight: bold;
        color: white;
        background-color: red;
    }
    td.all-lost > a {
        color: white;
    }

    td.no-data {
        font-weight: bold;
        color: white;
        background-color: green;
    }
    td.no-data > a {
        color: white;
    }
</style>

{% block content %}
  <div class="row-fluid">
    <div class="col-lg-12">
      <h2>Rolling Monitoring</h2>
      <table id="dt_roll_mon" class="table table-striped table-hover text-nowrap" cellspacing="0" width="100%" >
        <thead>
          <tr>
            <th>Time Slot</th>
            <th>Total Files</th>
            {% for recipient in recipients %}
            <th>{{ recipient }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for key in roll_mon_dict.keys() %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ roll_mon_dict[key]['total_f'] }}</td>
            {% for recipient in recipients %}
            <td class="complete">
            {% if roll_mon_dict[key][recipient] %}
              <a href="recipients?name={{ recipient }}&start={{ roll_mon_dict[key]['start'] }}&end={{ roll_mon_dict[key]['end'] }}">
                {{ roll_mon_dict[key][recipient]['got_f'] }} of {{ roll_mon_dict[key][recipient]['sent_f'] }}
              </a>
            {% else %}
              0 of 0
            {% endif %}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block extra_javascripts %}

  <script src="https://tdamsma.github.io/datatables-yadcf-bootstrap-webpack/bundle-yadcf.js"></script>

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      var table = $('#dt_roll_mon').DataTable({
          "columnDefs": [{
            "targets": "_all",
            "createdCell": function (td, cellData, rowData, row, col) {
                let txt = $(td).text().trim()
                let data = txt.split(/\s+/);
                console.log(data)

                if (data.length == 3 && data[1] == 'of') {
                    let got_f = data[0]
                    let sent_f = data[2]
                    if ( got_f == 0 &&  sent_f ==0 ) {
                      $(td).addClass('no-data')
                    } else if (got_f == 0 &&  sent_f !=0 ) {
                      $(td).addClass('all-lost')
                    } else if (got_f == sent_f ) {
                      $(td).addClass('complete')
                    } else if (got_f < sent_f) {
                      $(td).addClass('missing')
                    }
                }
            }
          }]
      });
    });
  </script>

{% endblock %}