{% include 'base.jinja2' %}

{% block extra_stylesheets %}
  <link href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="row-fluid">
    <div class="col-lg-12">
      <h2>Rolling Monitoring</h2>
        <p>{{ roll_mon_dict }}</p>
    </div>
  </div>
{% endblock %}

<table>

<TR>
    <TD>Time Slot</TD>
{% for recipient in recipients %}
    <TD>{{ recipient }}</TD>
{% endfor %}
</TR>

{% for key1 in roll_mon_dict.keys() %}
<TR>
    <TD>{{ key1 }}</TD>
  {% for recipient in recipients %}
    <TD>{{ roll_mon_dict[key1][recipient]['recvf'] }} of {{ roll_mon_dict[key1][recipient]['sentf'] }}</TD>
  {% endfor %}
</TR>
{% endfor %}

</table>


